@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Inter', sans-serif;   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: hsla(0, 0%, 72%, 0.773);
    padding: 10px 20px;
}
  
.navbar ul {
    list-style: none;
    display: flex;
    padding: 0;
}
  
.navbar ul:first-child {
    margin-right: auto;
}
  
.navbar ul:last-child {
    margin-left: auto;
}
  
.navbar li {
    margin: 0 15px;
}
  
.navbar a {
    text-decoration: none;
    color: #404040;
    font-size: 16px;
}
  
.navbar a:hover {
    text-decoration: underline;
}
  

/* Seção de Apresentação */
.hero {
    background: #ffcc66;
    text-align: center;
    padding: 50px 20px;
}

/* Destaque de Animais */
.destaque-animais {
    text-align: center;
    padding: 30px;
}

.animais-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.animal-card {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    background: white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.animal-card img {
    max-width: 150px;
    border-radius: 8px;
}

/* Rodapé */
footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
