body {
    font-family: 'Inter', sans-serif;   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding-top: 60px; 
}

.navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px 20px;
    position: fixed; 
    top: 0; 
    left: 0; 
    right: 0;
    z-index: 1000; 
}
  
.navbar ul {
    list-style: none;
    display: flex;
    padding: 0;
}
  
.navbar ul:first-child {
    margin-right: auto;
}
  
.navbar ul:last-child {
    margin-left: auto;
}
  
.navbar li {
    margin: 0 15px;
}
  
.navbar a {
    text-decoration: none;
    color: #404040;
    font-size: 16px;
}
  
.navbar a:hover {
    text-decoration: underline;
    color: #6A141F;
}

.botao-login{
    background-color: #D88F28; 
    color: white; 
    padding: 10px 20px; 
    border-radius: 5px; 
    cursor: pointer; 
    border: none; 
    font-size: 16px; 
    transition: background-color 0.3s; 
}

.botao-login:hover {
    background-color: #C77A1E; 
}

#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
  }
  
  .spinner {
    border: 6px solid #ccc;
    border-top: 6px solid #6A141F;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
  }
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

img {
    width: 100px;
    height: auto;
}  

.btn-adotar {
    background-color: #6A141F; 
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .btn-adotar:hover {
    background-color: #4D0F17;
  }
  
  .btn-adotar:active {
    background-color: #4D0F17;
    transform: scale(0.98);
  }
  